---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Netlify Edge functions with Astro">
  <main>
    <h1>Netlify Edge Functions with Astro</h1>

    Welcome, visitor from COUNTRYNAME!
  </main>
</Layout>
