---
import Layout from '../layouts/Layout.astro'

import { homeQuery } from '../queries/home'

const home = await homeQuery()

console.log(home)
---

<Layout title="Netlify Edge functions with Astro">
  <main>
    <h1>Netlify Foo Functions with Astro</h1>

    {home.heroVideo.alt}
  </main>
</Layout>
